<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>
<body>
<form method=post>
User Addr: <input type="text"  id="username" name="username" > left empty if you need a new Addr<br>
<button type="submit"  id="register1">Register</button>
</form>

</body>
</head>
</html>